#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  transition: all 0.5s;
  overflow-y: auto;
  padding: 15px;
}
.nav-menu {
  padding: 0;
  display: block;
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  color: #fff;
  background: #0563bb;
}

section {
  padding: 60px 0;
  overflow: hidden;
}
.nav-menu a {
  display: flex;
  text-align: center;
  color: #45505b;
  padding: 16px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background-color: #f2f3f5;
  height: 74px;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
}
.nav-menu a i {
  font-size: 37px;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
#home {
  max-width: 100%;
  min-height: 100vh;
  background: url("../images/Cover.png") top no-repeat;
  background-size: cover;
  position: relative;
}

#Section-text {
  opacity: 1;
  float: left;
  width: 100%;
  height: auto;
}

#home h1 {
  margin: 0;
  font-size: 5vw;
  font-weight: 700;
  line-height: 56px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  /* font-family: 'Material Symbols Outlined'; */
}
#home p {
  color: #ffffff;
  margin: 15px 0 0 0;
  font-size: 3vw;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  filter: drop-shadow(2px 4px 6px black);
}
.transition-effect {
  transition: ease-in-out 0.5s;
  filter: drop-shadow(2px 4px 6px black);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#home .typed {
  font-family: "arial";
  font-size: 2vw;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: typed 4s steps(80, end);
  transition: all cubic-bezier(0.1, 0.7, 1, 0.1);
  opacity: 1;
  filter: drop-shadow(2px 4px 6px black);
}
@keyframes typed {
  from {
    width: 0;
    transition: all 2s ease-in-out;
  }
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.mb-4 {
  margin-bottom: 3.5rem !important;
}

#textes {
  font-size: 25px;
}
.image-picture {
  background: url("../images/book.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  height: 800px;

  padding: 0 !important;
}
.shopBtn:hover {
  background-color: #0563bb;
  color: white;
  transform: scale(1.1);
}
.card {
  filter: drop-shadow(-4px 4px 6px black);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 6rem;
  height: 7rem;
}
.carousel-caption {
  bottom: 44.25rem;
}
.carousel-caption .h1 {
  filter: drop-shadow(-4px 4px 6px black);
}
.carousel-caption p {
  filter: drop-shadow(-4px 4px 6px black);
}
.TMW {
  font-weight: bold;
}

.card:hover .card-title a {
  color: #0563bb;
  text-decoration: underline;
}
.card-title a {
  text-decoration: none;
  color: #212529;
}
.headerstext {
  text-align: center;
  font-weight: bold;
  font-size: 4.5rem;
}
.list-rulers {
  position: absolute;
  text-align: center;
  color: white;
}
.list-rulers a {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
@media (min-width: 1200px) {
  .list-rulers h1 {
    font-size: 5.5rem;
  }
  .list-rulers a {
    font-size: 41px;
  }
}
.checkoutbtn:hover {
  background-color: #0563bb;
  color: white;
  border: 1px solid white;
}
.contact .info i {
  font-size: 50px;
  color: #0563bb;
  float: left;
  width: 76px;
  height: 73px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-top: 70px;
  margin-right: 65px;
}
.contact-con {
  max-width: 1617px;
}

.hone {
  margin-top: 70px;
}
.textofIcons {
  font-size: 24px;
}

.name {
  margin-top: 20px;
  height: 70px;
}

#textarea {
  margin-top: 20px;
}
.email {
  margin-top: 20px;
  height: 70px;
}
.subject {
  height: 70px;
  margin-top: 20px;
}
.contact-row {
  margin-top: 50px;
}
.send-message {
  background: #0563bb;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  width: 20%;
}

.typedIslamic {
  font-size: 3em;
}

#leadersBody {
  background-color: #e5e5e5;
}
.listTextLeaders {
  padding-left: 149px;
}
.tableContainer {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.table {
  width: 89%;
}

#navbarText {
  font-size: 28px;
  display: none;
}

li:hover #navbarText {
  display: inline;
}
#publications {
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#shownowBtn {
  width: 10%;
  width: 20%;
  font-size: 1.6vw;
}

@media screen and (max-width: 900px) {
  .nav-menu {
    list-style: none;
    top: 0;
  }
  .nav-menu .home {
    display: block;
  }
  .nav-menu li:not(:first-child) {
    display: none;
  }
  .nav-menu:hover li {
    display: block;
  }
  .nav-menu:hover .home {
    display: none;
  }
  #header {
    bottom: auto;
  }
}

@media screen and (max-width: 1100px) {
  #Section-text {
    display: none;
  }
}
